- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h2= restaurant.name
- else
  %h1 No restaurants yet!

-# %a(href='#new') Add a restaurant
= link_to'Add a restaurant', 'restaurants/new'
